<ngx-spinner 
bdColor="rgba(0, 0, 0, 0.6)" 
size="medium" 
color="#fff" 
type="ball-pulse">
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="wrapper">
  <div id="sidebar" class="shadow">
    <h1 class="p-3">Animal Crossing</h1>
    <ul class="list-group list-group-flush">
      <div *ngFor="let tab of menuItem">
        <li class="list-group-item" routerLinkActive="actived-tab" (click)="tab.click()" [routerLink]="tab.route">{{tab.title}}</li>    
      </div>
    </ul>
  </div>
  <div id="content" class="p-0">
    <router-outlet></router-outlet>
  </div>
</div>